In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2016)
#c.acs5.tables()

In [2]:
inner_zips=['77002','77003','77004','77005','77006','77007','77008','77009',
            '77010','77011','77012','77019','77020','77021','77023','77025',
            '77026','77027','77030']

In [3]:
dictionary = {'NAME' : [],
              "Year" : [],
             "B19013_001E" : [],
             "B01003_001E" : [],
             "B01002_001E" : [],
             "B19301_001E" : [],
             "B17001_002E" : [],
             "zip code tabulation area" : []}

hou_zips = inner_zips

years = list(range(2012, 2018))

for y in years:
    c = Census(api_key, year=y)
    for z in hou_zips:
        census_loop = c.acs5.get(("NAME", "B19013_001E", "B01003_001E",
                              "B01002_001E", "B19301_001E",
                              "B17001_002E"), {'for': f'zip code tabulation area:{z}'})
#         print(census_loop)
        dictionary['NAME'].append(census_loop[0]['NAME'])
        dictionary['Year'].append(y)
        dictionary['B19013_001E'].append(census_loop[0]["B19013_001E"])
        dictionary['B01003_001E'].append(census_loop[0]["B01003_001E"])
        dictionary['B01002_001E'].append(census_loop[0]["B01002_001E"])
        dictionary['B19301_001E'].append(census_loop[0]["B19301_001E"])
        dictionary['B17001_002E'].append(census_loop[0]["B17001_002E"])
        dictionary['zip code tabulation area'].append(census_loop[0]["zip code tabulation area"])

# dictionary

In [4]:
census_df = pd.DataFrame(dictionary)
census_df.head()

,NAME,Year,B19013_001E,B01003_001E,B01002_001E,B19301_001E,B17001_002E,zip code tabulation area
0,ZCTA5 77002,2012,57165.0,11473.0,31.8,32514.0,813.0,77002
1,ZCTA5 77003,2012,37664.0,10215.0,32.9,27248.0,3868.0,77003
2,ZCTA5 77004,2012,39804.0,29853.0,31.6,29787.0,6957.0,77004
3,ZCTA5 77005,2012,153041.0,25740.0,38.5,88579.0,635.0,77005
4,ZCTA5 77006,2012,63360.0,19856.0,36.9,60795.0,2647.0,77006

In [5]:
census_pd = census_df.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})
census_pd.head()

,Name,Year,Household Income,Population,Median Age,Per Capita Income,Poverty Count,Zipcode
0,ZCTA5 77002,2012,57165.0,11473.0,31.8,32514.0,813.0,77002
1,ZCTA5 77003,2012,37664.0,10215.0,32.9,27248.0,3868.0,77003
2,ZCTA5 77004,2012,39804.0,29853.0,31.6,29787.0,6957.0,77004
3,ZCTA5 77005,2012,153041.0,25740.0,38.5,88579.0,635.0,77005
4,ZCTA5 77006,2012,63360.0,19856.0,36.9,60795.0,2647.0,77006