In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census

# Census API Key
from config import api_key
c = Census(api_key, year=2017)

In [7]:
#c.acs5.tables()

In [12]:
c.acs5.state_county_tract('NAME', states.TX.fips, '48201', Census.ALL)

NameError: name 'states' is not defined

In [9]:
census_data = c.acs5.get(("NAME", "COUNTY", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

census_pd = pd.DataFrame(census_data)

census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name",
                                      "COUNTY": "COUNTY", "zip code tabulation area": "Zipcode"})

In [10]:
census_pd.head(10)

,Median Age,Population,Poverty Count,Household Income,Per Capita Income,COUNTY,Name,Zipcode
0,38.9,17599.0,11282.0,11757.0,7041.0,None,ZCTA5 00601,00601
1,40.9,39209.0,20428.0,16190.0,8978.0,None,ZCTA5 00602,00602
2,40.4,50135.0,25176.0,16645.0,10897.0,None,ZCTA5 00603,00603
3,42.8,6304.0,4092.0,13387.0,5960.0,None,ZCTA5 00606,00606
4,41.4,27590.0,12553.0,18741.0,9266.0,None,ZCTA5 00610,00610
5,41.4,62566.0,29872.0,17744.0,10283.0,None,ZCTA5 00612,00612
6,43.7,10687.0,5364.0,14918.0,9002.0,None,ZCTA5 00616,00616
7,38.7,24508.0,11774.0,17157.0,8762.0,None,ZCTA5 00617,00617
8,48.4,7405.0,4013.0,16727.0,11935.0,None,ZCTA5 00622,00622
9,41.3,42321.0,22008.0,16401.0,9101.0,None,ZCTA5 00623,00623